
# project-specific constants
#
# copy this file to ./project-defs.sh.inc and customize
#
# NOTE: packaging is strongly coupled to the upstream tarball URL and naming schemes - e.g.
#         TARBALL_FILE:      ${VERSION_STRING}.tar.gz
#         TARBALL_INNER_DIR: ${UPSTREAM_NAME}-${VERSION}/
#         DEB_TARBALL_FILE:  ${DEBIAN_NAME}_${VERSION}.orig.tar.gz
#         DEB_DIFFBALL_FILE: ${DEBIAN_NAME}_${VERSION}-1.diff.gz

readonly UPSTREAM_NAME='' # e.g. 'myproject'
readonly GITLAB_LOGIN='' # e.g. 'gitlab-username'
readonly GITLAB_AUTH_TOKEN='' # e.g. 'ab123cde...'
readonly GITLAB_INSTANCE_URL='' # e.g. 'https://git.mydomain.org'
readonly GITLAB_REPO='' # e.g. '${GITLAB_INSTANCE_URL}/${GITLAB_LOGIN}/${UPSTREAM_NAME}'
readonly GITLAB_PROJECT_ID='' # e.g. '1' (this is shown in the main project page)
readonly GITHUB_LOGIN=''                      # e.g. 'my-github-user-name'
readonly GITHUB_AUTH_TOKEN=''                 # e.g. '0123456789012345678901234567890123456789'
readonly OBS_LOGIN=''                         # e.g. 'my-opensuse-user-name'
readonly UPSTREAM_NAME=''                     # e.g. 'my-github-project-name'
readonly OBS_NAME=$UPSTREAM_NAME              # e.g. 'my-opensuse-project-name'
readonly DEBIAN_NAME=$UPSTREAM_NAME           # e.g. 'my-debian-project-name'
readonly REMOTE_NAME='github'                 # e.g. one of `git remote`
readonly STAGING_BRANCH='staging'             # NOTE: must be different than PACKAGING_BRANCH
readonly PACKAGING_BRANCH='packaging'         # NOTE: must be different than STAGING_BRANCH
readonly DEB_BUILD_TOOL='gbp'                 # one of 'debuild', 'sbuild', 'gbp'
readonly DEB_SBUILD_DIR=/var/cache/sbuild     # for DEB_BUILD_TOOL='sbuild'
readonly DEB_PBUILDER_DIR=/var/cache/pbuilder # for DEB_BUILD_TOOL='gbp'
readonly DEB_BUILD_DIST=unstable
readonly DEB_BUILD_ARCH=amd64
readonly OBS_DIRNAME='obs'
readonly OSC_DIR=/code/osc/home\:${OBS_LOGIN}/${OBS_NAME}
readonly BUG_URL=https://github.com/${GITHUB_LOGIN}/${UPSTREAM_NAME}/issues
readonly CHANGELOG_MESSAGE='updated to new upstream version'
readonly GIT_CLEAN_OPTIONS='-dx --force'
readonly N_MAKE_JOBS=42
readonly LOG_FILE=../gbp-buildlog
